/* App-wide container styles */
.app-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5rem; /* Space for the floating navbar */
}

@media (max-width: 768px) {
  .app-container {
    padding-top: 0; /* No top navbar on mobile */
    padding-bottom: 5rem; /* Space for the bottom navbar */
  }
}
